.shell {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 2fr 3fr;
  grid-gap: 10px;
}

.shell__form {
  overflow: auto;
}

.shell__code {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: #f5f5f5;
  border-right: 1px solid #e0e0e0;
  justify-content: space-around
}
